### IntelliJ IDEA ###
out/
!**/src/main/**/out/
!**/src/test/**/out/
# Ignore IntelliJ IDEA project files
.idea/
*.iml
*.ipr
*.iws

# Ignore build directories
/target/
/out/
/bin/

# Ignore dependencies
/.mvn/
/.gradle/
/node_modules/

# Ignore logs and temp files
*.log
*.class


